In [6]:
import pandas as pd
import pickle
import _pickle as cPickle

# Fetch data from ucirepo, heart disease data

In [2]:
from ucimlrepo import fetch_ucirepo

In [3]:
# fetch dataset 
heart_disease = fetch_ucirepo(id=45)

In [26]:
dataset = heart_disease["data"]["features"]
dataset["num"] = heart_disease["data"]["targets"]
dataset.to_csv("data/heart_disease_dataset.csv")

# Load data

In [27]:
dataset = pd.read_csv("data/heart_disease_dataset.csv", index_col=0)

In [28]:
dataset

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0